<template>
    <header>
        <h3>{{ title }}</h3>
    </header>
</template>

<script>
    export default {
        props: {
            title: {
                type: String
            }
        },
    }
</script>

<style lang="scss" scoped>
    header {
        margin-bottom: ($space * 3);
        h3 {
            font-size: $font-size-1;
            font-weight: 900;
            text-transform: uppercase;
        }
        span {
            font-size: $font-size-0;
            font-weight: 400;
            color: #DDD;
        }
    }
</style>