<template>
    <div class="category-list section-container" v-if="registros">
        <SectionTitle 
        :title="title" 
        :description="description" />
        <div class="wrapper">
            <carousel
            :perPageCustom="[[480, 1], [570, 2], [768, 3], [1024, 4]]"
            :navigationEnabled="true"
            :paginationEnabled="false"
            paginationActiveColor="#FFFFFF"
            paginationColor="#444444">
                <slide v-for="(item, index) in registros" :key="index">
                    <nuxt-link to="/" class="item">
                        <span class="category-name">{{ item.valores[1].valor }}</span>
                        <img :src="`${item.valores[0].valor.thumb}`">
                    </nuxt-link>
                </slide>
            </carousel>
        </div>
    </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

import SectionTitle from "@/components/SectionTitle";

export default {
    components: {
        SectionTitle, Carousel, Slide
    },
    props: {
        title: {
            type: String
        },
        description: {
            type: String
        },
        registros: {
            type: [Object, Array]
        }
    },
    mounted() {
    }
}
</script>

<style lang="scss" scoped>
.category-list {
    .item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: ($space);
        .category-name {
            position: absolute;
            font-size: $font-size-1;
            font-weight: bold;
            color: #FFF;
            text-shadow: 1px 1px 10px rgba(0,0,0,0.25);
        }
        img {
            overflow: hidden;
            border-radius: 8px;
            width: 100%;
        }
    }
}
</style>
