<template>
    <section class="highlight section-container">
        <div class="wrapper">
            <SectionTitle :title="title" />
            <div v-for="(item, index) in items" :key="index" >
                <nuxt-link :to="`/${getSiteByDomain(item.site.domain).slug}/podcasts/${item.id}`" v-if="item"> 
                    <div class="info">
                        <span class="category">{{ item['itunesCategory'].nome_ptbr }}</span>
                        <h3 class="title">{{ item.titulo }}</h3>
                        <p class="description" v-line-clamp="4">
                            {{item.descricao}}
                        </p>
                    </div>
                    <img :src="`${item.foto.thumb}`" />
                </nuxt-link>
            </div>
        </div>
    </section>
</template>

<script>
import { mapGetters } from 'vuex';

import SectionTitle from "@/components/SectionTitle";

export default {
    props: {
        title: {
            type: String
        },
        description: {
            type: String
        },
        registros: {
            type: [Object, Array]
        }
    },
    data: function() {
        return {
            items: [

            ]
        }
    },
    computed: {
        ...mapGetters({
            getSiteByDomain: 'podcasts/getSiteByDomain'
        })
    },
    components: {
        SectionTitle
    },
    methods: {
        getItemsByApi(api) {
            this.$axios.$get(`${api}`).then((response) => {
                this.items.push(response)
            })
        },
        console(p) {
            return console.log(p)
        }
    },
    mounted() {
        for (let item of this.registros) {
            this.getItemsByApi(`${item.valores[0].api}`)
        }
    }
}

</script>

<style lang="scss" scoped>
.highlight {
    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        "header header header header"
        "podcast-1 porcast-1 podcast-2 podcast-3"
        "podcast-1 porcast-1 podcast-4 podcast-5";
        grid-template-columns: 50%;
        justify-content: center;
        justify-items: center;
        max-width: 1280px;
        header {
            grid-area: header;
            grid-column: 1 / span 4;
        }
        & > div {
            position: relative;
            &:nth-of-type(1) {
                width: 100%;
                height: 100%;
                grid-area: podcast-1;
                grid-column: 1 / span 2;
                .info {
                    padding: ($space * 4);
                    .title {
                        font-size: $font-size-3;
                    }
                    .description {
                        font-size: $font-size-0;
                    }
                }
            }
            &:nth-of-type(2) {
                width: 100%;
                height: 100%;
                grid-area: podcast-2;
            }
            &:nth-of-type(3) {
                width: 100%;
                height: 100%;
                grid-area: podcast-3;
            }
            &:nth-of-type(4) {
                width: 100%;
                height: 100%;
                grid-area: podcast-4;
            }
            &:nth-of-type(5) {
                width: 100%;
                height: 100%;
                grid-area: podcast-5;
            }
            .info {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                bottom: 0;
                width: calc(100% + 1px);
                height: calc(100% + 1px);
                background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #000 60%, #000 98%);
                z-index: 2;
                opacity: 0;
                transition: .1s transform ease-in-out;
                padding: ($space * 2);
                .category {
                    color: #AAA;
                    font-size: $font-size--1;
                    text-transform: uppercase;
                    margin-bottom: ($space / 2)
                }
                .title {
                    font-size: $font-size-1;
                    margin-bottom: ($space / 2)
                }
                .description {
                    font-size: 14px;
                    color: #DDD;
                }

            }
            img {
                width: 100%;
                height: 100%;
                z-index: 1;
                transition: .1s transform ease-in-out;
            }
            &:hover {
                z-index: 3;
                .info {
                    opacity: 1;
                    transform: scale(1.15);
                    transition: .3s transform ease-in-out, .3s opacity ease-in-out;
                }
                img {
                    transform: scale(1.15);
                    transition: .3s transform ease-in-out;
                }
            }
        }
    }
}
</style>
