<template>
    <div class="detalhe-podcast section-container">
        <SectionTitle 
        :title="title" 
        :description="description" />
        <div class="wrapper" v-if="feed[0]">
            <div class="thumb">
                <img :src="`${feed[0].image.url}`" />
            </div>
            <div class="playlist">
                <div class="item" v-for="(item, index) in feed[0].item.slice(0,4)" :key="index">
                    <a class="btn-play"><img class="icon-play" src="@/assets/icons/icon-play.svg" /></a> 
                    <div class="title" v-line-clamp="2">{{ item.title }}</div>
                    <div class="description" v-line-clamp="2">{{ item.description }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import SectionTitle from '@/components/SectionTitle';

export default {
    props: {
        title: {
            type: String
        },
        description: {
            type: String
        },
        registros: {
            type: [Object, Array]
        }
    },
    components: {
        SectionTitle
    },
    data: function() {
        return {
            feed: [

            ]
        }
    },
    mounted() {
        this.$axios.$get(`/podcast/feed/${this.registros[0].valores[0].valor}.json`).then((response) => {
            this.feed.push(response.rss.channel)
        })
    }
}
</script>

<style lang="scss" scoped>
.detalhe-podcast {
    .wrapper {
        display: grid;
        grid-template: "thumb playlist";
        grid-gap: ($space * 4);
        padding-top: ($space * 4);
        .thumb {
            grid-area: thumb;
        }
        .playlist {
            grid-area: playlist;
            display: grid;
            grid-gap: ($space * 4);
            grid-template-columns: 1fr 1fr;
            .item {
                .btn-play {
                    float: left;
                    margin-right: ($space * 2);
                    margin-top: ($space);
                    .icon-play {
                        width: 48px;
                        height: 48px;
                        filter: invert(100%);
                    }
                }
                .title {
                    font-size: $font-size-1;
                    font-weight: 600;
                    margin-bottom: ($space);
                }
                .description {
                    opacity: 0.85;
                }
            }
        }
    }
}
</style>
