<template>
    <div class="ghost-button-container" :class="align">
        <button @click="$emit('onclick')" class="ghost-button" :class="{negative: isNegative}"><img v-if="icon" :src="getIcon()" /> {{ label }}</button>
    </div>
</template>

<script>
export default {
    props: {
        label: {
            type: String
        },
        icon: {
            type: String
        },
        isNegative: {
            type: Boolean,
            default: false
        },
        align : {
            type: String,
        }
    },
    methods: {
        getIcon(){
           return require( `@/assets/icons/icon-${this.icon}.svg` )
        }
    }
}
</script>

<style lang="scss" scoped>
.ghost-button-container {
    display: flex;
    width: 100%;
    &.left {
        justify-content: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
    &.center {
        justify-content: center;
    }
    .ghost-button {
        background-color: transparent;
        border: 1px solid $button-color;
        color: $button-color;
        padding: ($space * 1.5) ($space * 4);
        text-decoration: none;
        text-align: center;
        font-weight: 500;
        font-size: $font-size-0;
        img {
            width: 12px;
            height: 12px;
        }
        &.negative {
            background-color: transparent;
            border: 1px solid #FFF;
            color: #FFF;
            img {
                filter: invert(100%);
            }
            &:hover {
                background-color: #FFF;
                color: #333;
                img {
                    filter: none;
                }
            }
        }
    }
}
</style>