<template>
    <header class="header-site" v-bind:style="{ 'background-color' : actualSite.color }">
        <div class="wrapper">
            <img :src="`${actualSite.logo}`" class="logo" />
            <h1><nuxt-link :to="`/${actualSite.slug}/`">PODCASTS</nuxt-link></h1>
        </div>
    </header>
</template>

<script>

import { mapGetters } from 'vuex';


export default {
    name: 'Header',
    computed: {
        ...mapGetters({
            actualSite: 'podcasts/getActualSite'
        })
    }
}
</script>

<style lang="scss">

.header-site {
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: #e11b22;
    .wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            position: absolute;
            left: 0px;
            max-height: 30px;
        }
        h1 {
            font-weight: 300;
            color: #FFF;
        }
    }
}
</style>
