<template>
    <div class="item-podcast">
        <nuxt-link :to="`/${getSiteByDomain(podcast.site.domain).slug}/podcasts/${podcast.id}`">
            <img :src="podcast.foto.thumb" />
            <h2 class="title">{{ podcast.titulo }}</h2>
            <span v-if="podcast.itunesCategory !== null" class="category">{{ podcast.itunesCategory.nome_ptbr }}</span>
        </nuxt-link>
    </div>
</template>

<script>

import { mapGetters } from 'vuex';

export default {
    props: {
        podcast: {
            type: [Array, Object]
        }
    },
    computed: {
        ...mapGetters({
            getSiteByDomain: 'podcasts/getSiteByDomain'
        })
    }
}
</script>

<style lang="scss">
    .item-podcast {
        display: flex;
        flex-direction: row;
        text-align: center;
        img {
            width: 100%;
            margin-bottom: ($space);
        }
        .title {
            font-size: $font-size-0;
        }
        .category {
            font-size: 14px;
            opacity: 0.75;
        }
    }
</style>
