<template>
    <div class="item" :id="audio['@id']">
        <a class="btn-play"><img class="icon-play" src="@/assets/icons/icon-play.svg" /></a> 
        <div class="info">
            <time :datetime="audio.pubDate | date('DD/MM/YYYY • HH:mm')">{{ audio.pubDate | date('DD/MM/YYYY • HH:mm') }}</time>
            <span class="duration">Duração: {{ audio['itunes:duration'] }}</span>
            <h2 class="title">{{ audio.title }}</h2>
            <p v-line-clamp="lineclamp" class="description">{{ audio.description }}</p>
            <a v-if="lineclamp <= 3" @click="showMore()" class="btn-read-more">Ler mais</a>
        </div>
        <img class="thumb" :src="capa" />
        <hr />
    </div>
</template>

<script>
import { dateFilter } from "vue-date-fns";

export default {
    props: {
        audio: {
            type: [Object, Array]
        },
        capa: {
            type: String
        },
        formatedDate: {
            type: String
        },
        lineclamp: {
            type: Number,
            default: 3
        }
    },
    filters: {
        date: dateFilter
    },
    methods: {
        showMore: function() {
            this.lineclamp += 100
        }
    }
}
</script>

<style lang="scss" scoped>
.item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    .thumb {
        width: 120px;
        height: 120px;
        flex-basis: 120px;
        flex-shrink: 1;
        flex-grow: 0;
        float: left;
        margin-left: ($space * 3);
    }
    .info {
        flex-basis: 50%;
        flex-shrink: 1;
        flex-grow: 1;
        time {
            font-size: $font-size--1;
            margin-bottom: ($space / 2);
            display: inline-block;
            letter-spacing: .5px;
            opacity: 0.6;
        }
        .duration {
            font-size: $font-size--1;
            opacity: 0.6;
            &:before {
                content: "|";
                margin: 0 ($space);
            }
        }
        .title {
            font-size: $font-size-1;
            font-weight: 500;
            margin-bottom: ($space);
        }
        .description {
            font-size: $font-size-0;
            margin-bottom: ($space);
            opacity: 0.75;
        }
        .btn-read-more {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            font-weight: 500;
        }
    }
    .btn-play {
        margin-right: ($space * 2);
        margin-top: ($space);
        .icon-play {
            width: 48px;
            height: 48px;
            filter: invert(100%);
        }
    }
    hr {
        flex-basis: 100%;
        height: 0.5px;
        width: 100%;
        margin: ($space * 3) 0;
        border: 0.5px solid rgba(255,255,255,0.05);
    }
}

@media (max-width: 768px) {
    .item {
        .thumb {
            order: 1;
            width: 90px;
            height: 90px;
            flex-basis: 90px;
            margin-left: 0;
            margin-right: ($space * 2);
        }
        .info {
            order: 2;
        }
        .btn-play {
            order: 3;
            margin-right: 0;
            margin-left: ($space * 2);
            .icon-play {
                width: 40px;
                height: 40px;
            }
        }
        hr {
            order: 4;
        }
    }
}

@keyframes fade-in {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
</style>
