<template>
    <section class="podcasts-relacionados">
        <BoxTitle title="Podcasts Relacionados"/>
        <ul>
            <li v-for="relacionado in podcastsRelacionados" :key="relacionado.id">
                <nuxt-link v-if="relacionado.site.domain" :to="`/${getSiteByDomain(relacionado.site.domain).slug}/podcasts/${relacionado.id}`"> 
                    <div class="info">
                        <h4 class="title">{{ relacionado.titulo }}</h4>
                        <p class="description" v-line-clamp="2">{{ relacionado.descricao }}</p>
                    </div>
                    <img :src="relacionado.foto.thumb" />
                </nuxt-link>
            </li>
        </ul>
    </section>
</template>

<script>
    
    import { mapGetters } from 'vuex';
    import BoxTitle from "@/components/BoxTitle";

    export default {
        components: {
            BoxTitle
        },
        computed: {
            ...mapGetters({
                podcastsRelacionados : 'podcastsRelacionados/get',
                getSiteByDomain: 'podcasts/getSiteByDomain'
            })
        },
        mounted() {
            this.$store.dispatch('podcastsRelacionados/getRelacionadosById', this.$route.params.id);
        }
    }
</script>

<style lang="scss">
.podcasts-relacionados {
    float: none;
    align-self: flex-start;
    ul {
        li {
            margin-bottom: ($space * 2);
            a {
                display: flex;
                .info {
                    flex-grow: 1;
                    .title {
                        margin-bottom: $space;
                    }
                    .description {
                        font-size: 14px;
                        opacity: 0.75;
                    }
                }
                img {
                    width: 80px;
                    height: 80px;
                    flex-basis: 80px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-left: ($space * 2);
                }
            }
        }
    }
}
</style>