<template>
    <header>
        <div class="wrapper">
            <h2>{{ title }}</h2>
            <span>{{ description }}</span>
        </div>
    </header>
</template>

<script>
    export default {
        props: {
            title: {
                type: String
            },
            description: {
                type: String
            }
        },
    }
</script>

<style lang="scss" scoped>
    header {
        margin-bottom: ($space * 3);
        text-align: center;
        .wrapper {
            max-width: 650px;
            h2 {
                font-size: $font-size-3;
                font-weight: 900;
            }
            span {
                font-size: $font-size-1;
                font-weight: 400;
                opacity: 0.75;
            }
        }
    }
</style>