<template>
    <section class="top">
        <div class="info">
            <h2>{{ feed.rss.channel.title }}</h2>
            <p v-line-clamp="5">{{ feed.rss.channel.description }}</p>
            <GhostButton 
                :align="'left'"
                :isNegative="true"
                @onclick="openSignPodcast()" 
                icon="feed" 
                label="Assinar" />

                    <!-- <div class="modal-content">
                        <p>clique no botão abaixo para assinar com o iTunes</p>
                        <p>ou</p>
                        <p>assine com seu player favorito copiando e colando o link abaixo:</p>
                        <p>{{ feed.rss.channel.link }}</p>
                    </div> -->
        </div>
        <figure>
            <img :src="feed.rss.channel.image.url" />
        </figure>
    </section>
</template>

<script>

import GhostButton from "@/components/GhostButton"

export default {
    name: 'Top',
    components: {
        GhostButton
    },
    data: function() {
        return {
            hideCloseBtn: false
        }
    },
    props: {
        feed: {
            type: Object
        }
    },
    methods: {
        openSignPodcast () {
            this.$modals.show("sign-modal")
        },
        closeSignPodcast () {
            this.$modals.hide("sign-modal")
        }
    }
}
</script>

<style lang="scss" scoped>
    .top {
        background-color: #000;
        display: flex;
        justify-content: space-between;
        margin-bottom: ($space * 8);
        figure {
            position: relative;
            width: 660px;
            height: 640px;
            &:after {
                content: ' ';
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: 0;
                background: linear-gradient(to left, rgba(0,0,0,0) 50%, #000 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
            }
            img {
                width: inherit;
                height: inherit;
            }
        }
        .info {
            padding: ($space * 8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #FFF;
            margin-bottom: ($space * 2);
            h2 {
                font-size: $font-size-3;
                font-weight: 900;
                text-transform: uppercase;
                margin-bottom: $space;
            }
            p {
                font-size:$font-size-0;
                line-height: 1.3em;
                opacity: 0.85;
            }
            .ghost-button-container {
                margin-top: ($space * 4);
            }
            .v-modal__content {
                padding: 10px 20px 20px;
                border-radius: 10px;
                .v-modal__heading {
                    .v-modal__title {
                        h2 {
                            text-transform: initial;
                            font-size: $font-size-2;
                        }
                    }
                    .v-modal__close-btn {
                        font-size: 40px;
                        color: #333;
                    }
                }
                .content {
                    p {
                        color: #333;
                    }
                }
            }
        }
    }

    @media (max-width: 1156px) {
        .top {
            figure {
                height: 450px;
                width: 450px;
            }
        }
    }

    @media (max-width: 768px) {
        .top {
            position: relative;
            flex-wrap: wrap;
            figure {
                order: 1;
                width: 100%;
                height: auto;
                &:after {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000 100%);
                }
                img {

                }
            }
            .info {
                margin-top: -100px;
                padding: ($space * 4);
                order: 2;
                z-index: 1;
                align-items: center;
            }
        }
    }
</style>
