<template>
    <div class="trilho-podcast section-container">
        <SectionTitle 
        :title="title" 
        :description="description" />
        <div class="wrapper">
            <carousel
            :perPageCustom="[[480, 1], [570, 2], [768, 3], [1024, 5]]"
            :navigationEnabled="true"
            :paginationEnabled="false"
            paginationActiveColor="#FFFFFF"
            paginationColor="#444444">
                <slide v-for="(item, index) in items" :key="index">
                    <nuxt-link :to="`/${getSiteByDomain(item.site.domain).slug}/podcasts/${item.id}`" class="item">
                        <img :src="`${item.foto.thumb}`" />
                        <h3 v-line-clamp="2" class="title">{{ item.titulo }}</h3>
                        <span class="category">{{ item.itunesCategory.nome_ptbr }}</span>
                    </nuxt-link>
                </slide>
            </carousel>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { Carousel, Slide } from 'vue-carousel';
import SectionTitle from "@/components/SectionTitle";

export default {
    components: {
        SectionTitle,  Carousel, Slide
    },
    props: {
        title: {
            type: String
        },
        description: {
            type: String
        },
        registros: {
            type: [Object, Array]
        }
    },
    computed: {
        ...mapGetters({
            getSiteByDomain: 'podcasts/getSiteByDomain'
        })
    },
    data: function() {
        return {
            items: [

            ]
        }
    },
    methods: {
        getItemsByApi(api) {
            this.$axios.$get(`${api}`).then((response) => {
                this.items.push(response)
            })
        }
    },
    mounted() {
        for (let item of this.registros) {
            this.getItemsByApi(`${item.valores[0].api}`)
        }
    }
}
</script>

<style lang="scss" scoped>
    .trilho-podcast {
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: ($space);
            text-align: center;
            img {
                width: 100%;
                object-fit: scale-down;
                margin-bottom: ($space * 2);
            }
            .title {
                font-size: $font-size-0;
                margin-bottom: ($space);
            }
            .category {
                font-size: 11px;
                letter-spacing: 0.025em;
                opacity: 0.65;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
</style>
