// COLORS //
$background-color: #121315;
$text-color: #FFF;
$link-color: #FFF;
$button-color: #222;


// SPACING //

$space : 0.8rem;


// FONT-SIZE //

$font-size-8: 9.969em;
$font-size-7: 7.478em;
$font-size-6: 5.61em;
$font-size-5: 4.209em;
$font-size-4: 3.157em;
$font-size-3: 2.369em;
$font-size-2: 1.777em;
$font-size-1: 1.333em;
$font-size-0: 1em;
$font-size--1: .75em;
$font-size--2: .563em;
$font-size--3: .422em;