*, *:before, *:after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    outline: none;
}

:root {
    font-size: 10px;
}
body {
    font-size: 16px;
    background-color: $background-color;
    color: $text-color;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
li {
    list-style: none;
}
a {
    color: $link-color;
    text-decoration: none;
    &:visited {
        color: inherit;
    }
}
.wrapper {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0 ($space * 2);
}

.section-container {
    padding: ($space * 4) 0;
}

// CARROSSEL //

.VueCarousel {
    .VueCarousel-wrapper {
        .VueCarousel-inner {
            .VueCarousel-slide {

            }
        }
    }
    .VueCarousel-navigation {
        .VueCarousel-navigation-button {
            color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            width: 40px;
            height: 40px;
            outline: none;
            &.VueCarousel-navigation-prev {
                background-image: url('/icons/arrow-left.svg');
            }
            &.VueCarousel-navigation-next {
                background-image: url('/icons/arrow-right.svg');
            }
        }
    }
    .VueCarousel-pagination {
        .VueCarousel-dot-container {
            .VueCarousel-dot {
                &.VueCarousel-dot--active {

                }
            }
        }
    }
}

// PAGE TRANSITION //

.page-enter-active, .page-leave-active {
    transition: all .30s ease-out;
}
.page-enter, .page-leave-active {
    opacity: 0;
    transform-origin: 50% 50%;
}