<template>
    <div>
        <Header />
        <GhostButton 
            :isNegative="true"
            :align="'center'"
            label="Ver todos os Podcasts"/>
    </div>
</template>

<script>
import Header from "@/components/Header"
import GhostButton from "@/components/GhostButton"
export default {
    components: {
        Header, GhostButton
    }
}
</script>

<style>

</style>
